In [ ]:
#1
num=float(input("Enter the number:"))
if num>0:
  print("Positive number")
elif num<0:
  print("Negative number")
else:
  print("the number is zero")

Enter the number:0
the number is zero

In [ ]:
#2
num1=int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))
if num1>=num2 and num1>=num3:
  print("Largest number is:",num1)
elif num2>=num3:
  print("Largest number is:",num2)
else:
  print("Largest number is:",num3)

Enter first number:12
Enter second number:55
Enter third number:67
Largest number is: 67

In [ ]:
#3
num=int(input("Enter the number: "))
if num % 2 ==0:
  print("even number")
else:
  print("odd number")

Enter the number: 31
odd number

In [ ]:
#4
num=int(input("Enter the number:"))
if num % 2==0 and num % 3==0:
  print(f"{num} is divisible by 2 and 3")
else:
  print(f"{num} is not divisible by 2 and 3")

Enter the number:24
24 is divisible by 2 and 3

In [ ]:
#5
year=int(input("Enter the number:"))
if (year % 4==0 and year % 100!=0) or (year % 400==0):
  print("leap year")
else:
  print("Not leap year")

Enter the number:2024
leap year

In [ ]:
#6
num=int(input("Enter the number:"))
if num>10:
  print("hello")
else:
  print("Good bye")

Enter the number:24
hello

In [ ]:
#7
num=int(input("Enter the number:"))
if (num % 5==0) and (num % 10!=0):
 print(f"{num} is divisible by 5 but not 10")
else:
 print(f"{num} doesn't satisfy the conditon")

Enter the number:60
60 doesn't satisfy the conditon

In [ ]:
#8
number=int(input("Enter the number:"))
if 100 <= number <= 200:
  print(f"{number} is between 100 and 200")
else:
  print(f"{number} is not between 100 and 200")

Enter the number:100
100 is between 100 and 200

In [ ]:
#9
num=int(input("Enter the number: "))
if 50 < num < 100:
  print(f"{num} in between 50 and 100 (exclusive)")
else:
  print(f"{num} is not satisfied")

Enter the number: 67
67 in between 50 and 100 (exclusive)

In [ ]:
#10
num=int(input("Enter the number:"))
if (num > 100) and (num < 500):
  print("print a message")
else:
  print("not satisfy the condition")

Enter the number:224
print a message

In [ ]:
#11
for number in range(1,11):
  print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#12
for number in range(2,21,2):
  print(number)

2
4
6
8
10
12
14
16
18
20